version: '3.8'

services:
  web:
    build: .
    ports:
      - "5001:5001"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
      - DATABASE_URL=mysql+pymysql://root:123456@db:3306/music_streaming  # Địa chỉ kết nối đến cơ sở dữ liệu MySQL
    command: >
      sh -c "
        flask db init &&
        flask db migrate &&
        flask db upgrade &&
        flask run --host=0.0.0.0 --port=5001
      "
    depends_on:
      - db

  db:
    image: mysql:8.0  # Sử dụng hình ảnh MySQL phiên bản 8.0
    environment:
      MYSQL_ROOT_PASSWORD: 123456  # Mật khẩu root cho MySQL
      MYSQL_DATABASE: music_streaming  # Tên cơ sở dữ liệu mặc định
      MYSQL_USER: root  # Tên người dùng MySQL
      MYSQL_PASSWORD: 123456  # Mật khẩu cho người dùng
    ports:
      - "3306:3306"  # Bản đồ cổng 3306 của máy chủ với cổng 3306 của container
    volumes:
      - mysql_data:/var/lib/mysql  # Gắn volume để lưu trữ dữ liệu MySQL

volumes:
  mysql_data:  # Volume để lưu trữ dữ liệu của MySQL

